<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include ../partials/_navbar.ejs %>
    <h1>Edit Dog Form</h1>
    <form action="/dogs/<%=oneDog.id%>?_method=PUT" method= "POST" enctype="multipart/form-data">
    <label for="name">name:</label>
    <input type="text" name="name" value="<%=oneDog.name%>">
    <label for="breed">breed:</label>
    <input type="text" name="breed" value="<%=oneDog.breed%>">
    <label for="age">age:</label>
    <input type="Number" name="age" value="<%=oneDog.age%>">
     <label for="gender">gender:</label>
    <select name="gender">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
    <label for="description">description:</label>
    <input type="description" name="description" value="<%=oneDog.description%>">
   <label for="image">image:</label>  
      <input type="file" name="image">
       <input type="submit" value="Submit">
    </form>
    <%- include ../partials/_footer.ejs %>
</body>
</html>
