<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include ../partials/_navbar.ejs %>
    <h1>Your dogs will be shown here</h1>
     <a href="/dogs/new">Add a new Dog</a>
    
        <div>
            <ul>
    <%dogs.forEach(function(dog){%>
     <li>
     <a href="/dogs/<%=dog.id%>"><%=dog.name %></a>
       <form action="dogs/<%=dog.id%>/edit">
   <input type="submit" value="EDIT <%=dog.name%>">
     </form>
     <form action="dogs/<%=dog.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
   <input type="submit" value="DELETE <%=dog.name%>">
     </form>
     </li>
   <% })%>
    </ul>
   </div>
   <%- include ../views/partials/_footer.ejs %>
</body>
</html>