<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your cat</title>
</head>
<body>
<%- include ../partials/_navbar.ejs %>

    <a href="/cats">back home</a>

    <form method="POST" action="/cats/<%=catId%>?_method=PUT" enctype="multipart/form-data">
       <label for="name">name:</label>
            <input type="text" value="<%=cat.name%>" name="name">
        <label for="age">age:</label>
            <input type="text" value="<%=cat.age%>" name="age">    
        <select name="gender">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <label for="description">description:</label>
            <textarea type="text" name="description"></textarea>
         <label for="image">image:</label>  
      <input type="file" name="image">
        <input type="submit" value="update">   
    </form>

<%- include ../partials/_footer.ejs %>
</body>
</html>