<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
<%- include ../partials/_navbar.ejs %>
     <h1>Your cats will be shown here</h1>
    <a href="/cats/new">add a new cat</a>
<ul>
   <% cats.forEach(function(cat) {%>
       <li>
       <a href="/cats/<%= cat._id %>"><%=cat.name%></a>
       </li>
       <form action="/cats/<%= cat._id %>/edit">
       <input type="submit" value="edit">
       </form>

       <form action="/cats/<%= cat._id%>?_method=DELETE" method="POST">
       <input type="submit" value="delete">
       </form>
   <%})%>
</ul>
<%- include ../partials/_footer.ejs %>
</body>
</html>