<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/static/footer-styles.css">
   <link rel="stylesheet" type="text/css" href="/static/navbar-styles.css">
   <link rel="stylesheet" type="text/css" href="../static/index-styles.css">
  <title>catIndex</title>
</head>
<body>
<%- include ../partials/_navbar.ejs %>
 <div>
        <div class="container">
           <% cats.forEach(function(cat) {%>
              <div>
              <a  class="imageName" href="/cats/<%=cat._id %>"><img src="../public/uploads/<%=cat.image%>" class="image"/>
              <div class="divider"></div>
              <%=cat.name%></a>
     </div>
  <%})%>
</div>
</div>
 <%- include ../partials/_footer.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$(".catDropdown-content").css("display","none")
            $(".dogDropdown-content").css("display","none")
            console.log($(".dropdown"))

$(".catDiv").mouseover(function(){
            console.log("Mouse on")
            $(".catDropdown-content").css("display","inline-block");
            $(".dogDropdown-content").css("display","none");
})

$(".catDiv").mouseout(function(){
            console.log("Mouse off")
            $(".catDropdown-content").css("display","none");
})

$(".dogDiv").mouseover(function(){
            console.log("Mouse on")
            $(".dogDropdown-content").css("display","inline-block");
            $(".catDropdown-content").css("display","none");
})

$(".dogDiv").mouseout(function(){
            console.log("Mouse off")
            $(".dogDropdown-content").css("display","none");
})
</script>
</body>
</html>