<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your cat</title>
</head>
<body>
    <a href="/cats">back home</a>
    <h1><%=cat.name%></h1>
    <h2><%=cat.age%></h2>
    <h2><%=cat.gender%></h2>
    <h2><%=cat.description%></h2>
    <img src="<%=cat.img%>" alt="picture of a cat">
</body>
</html>